fastapi==0.135.3
uvicorn==0.44.0
websockets==16.0

pydantic==2.12.5
pydantic-settings==2.14.0
python-dotenv==1.2.2

langchain-core==1.4.0
langchain-chroma==1.1.0
langchain-openai==1.2.2
langchain-huggingface==1.2.2
sentence-transformers==5.4.1
huggingface-hub==1.10.1

numpy==2.4.4
